@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
  display: flex !important;
  align-items: flex-end !important;
}

.text-shadow-3d {
  text-shadow: -7px 0px 0px rgba(237, 175, 54, 0.6),
    -15px 0px 0px rgba(237, 175, 54, 0.2);
}
.active {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}
.inactive {
  max-height: 0px;
  transition: max-height 0.5s ease-out;
}

.inactiveBorder {
  border-bottom-left-radius: 12px ;
  border-bottom-right-radius: 12px ;
  transition: border-bottom-right-radius 1.5s, border-bottom-left-radius 1.5s;
}

::selection {
  color: black;
  background: #ED8E36;
}




